@use "_variables" as v;
@use "anims";

.Galería  {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-areas:
        "Ext Int ExtOcu"
        "Ft PT IOc ";
        gap: 10px;
        justify-items: center;
        align-items: center;
        
        img {
            height: 30vh;
            width: auto;
            margin: 10px;
            border-radius: 10px;
            &:hover {
                 @extend %scaleUp;
                  
            }

        }
        
  }

@include v.mobile {
    .Galería {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 0;

        img {
            height: 20vh;
            width: auto;
          }
      }
}     