@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 2;
}
header .logo-titulo {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .LogoFinal {
  height: 12vh;
  width: auto;
  border-radius: 10px;
}
header h1 {
  font-size: 2.5rem;
  font-family: "Dancing Script";
  font-weight: 700;
  color: brown;
  margin: 0;
}
header nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 15px 50px;
  gap: 15px;
  font-weight: 700;
}
header nav ul li {
  border: 2px solid;
  color: rgb(202, 97, 31);
}
header nav ul li a {
  text-decoration: none;
  font-family: "Libertinus Mono display";
  color: brown;
  padding: 8px 15px;
}
header nav ul li a:hover {
  background-color: rgb(240, 230, 205);
}

@media (max-width: 430px) {
  header {
    flex-direction: column;
    height: fit-content;
  }
  .logo-titulo {
    justify-content: center;
  }
  h1 {
    display: none;
  }
  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  ul {
    font-size: 1, 5 rem;
    gap: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  li {
    font-weight: 300;
  }
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex h2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: brown;
  font-family: "Libertinus Mono display";
  font-weight: 700;
  padding: 20px;
  gap: 20px;
}
.flex p {
  font-family: "Libertinus Mono display";
  font-size: 17px;
  color: black;
  font-weight: 400;
  margin: 50px 30px;
}
.flex .carouselExampleIndicators {
  width: 100px;
  height: auto;
}
.flex .carouselExampleIndicators .carrusel-indicators {
  position: absolute;
  bottom: 10px;
}
.flex .imagen-car {
  width: 500px;
  height: auto;
}
.flex .carousel-inner {
  padding: 30px;
}

@media (max-width: 430px) {
  .flex {
    flex-direction: column;
  }
  .flex .imagen-car {
    width: 350px;
    height: auto;
  }
  .flex p {
    font-family: "Libertinus Mono display";
    font-size: 17px;
    color: black;
    font-weight: 400;
    margin: 30px 20px;
  }
}
.tienda .Desayunos {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "d1 d2 d3" "d4 d5 d6";
  gap: 20px;
  padding: 20px 60px;
}
.tienda .Desayunos .combo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: auto;
  background-color: rgba(236, 157, 88, 0.735);
  padding: 20px;
  border-radius: 20px;
}
.tienda .Desayunos .combo__titulo {
  color: brown;
  font-size: 25px;
  padding: 15px;
}
.tienda .Desayunos .combo__imagen {
  box-shadow: 10px 10px 5px white;
  height: 200px;
  width: auto;
}
.tienda .Desayunos .combo__texto {
  padding-top: 30px;
}
.tienda .Desayunos .combo__boton {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  border: none;
  font-weight: bold;
  background-color: rgb(202, 97, 31);
  margin: 20px;
  padding: 15px;
}
.tienda .Desayunos .combo__boton:hover {
  background-color: brown;
}
.tienda .Desayunos .combo__boton--agotado {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  color: aliceblue;
  border: none;
  font-weight: bold;
  background-color: rgb(92, 91, 91);
  margin: 20px;
  padding: 15px;
}
.tienda .Desayunos .combo__boton--agotado:hover {
  text-decoration: line-through;
}
.tienda p {
  font-family: "Libertinus Mono display";
  font-size: 19px;
  color: black;
  font-weight: 400;
  margin: 20px 10px;
  padding: 30px;
}

@media (max-width: 430px) {
  .tienda .Desayunos {
    display: grid;
    grid-template-areas: "d1" "d2" "d3" "d4" "d5" "d6";
    padding: 15px;
    gap: 15px;
  }
  .tienda .Desayunos .combo {
    height: 450px;
    width: 320px;
    background-color: rgba(236, 157, 88, 0.735);
    padding: 20px;
    border-radius: 20px;
  }
  .tienda .Desayunos .combo__titulo {
    font-size: 18px;
    padding: 0;
    gap: 0;
  }
  .tienda .Desayunos .combo__imagen {
    height: 150px;
    width: auto;
    padding: 0;
  }
  .tienda .Desayunos .combo__texto {
    font-size: 1rem;
    padding-top: 20px;
  }
  .tienda .Desayunos .combo__boton {
    margin: 10px;
    padding: 5px;
  }
  .tienda .Desayunos .combo__boton--agotado {
    margin: 10px;
    padding: 5px;
  }
  .tienda p {
    font-size: 16px;
    margin: 10px;
    padding: 15px;
  }
}
.NH {
  display: flex;
  padding: 15px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.NH h2 {
  font-size: 25px;
  color: brown;
  font-family: "Libertinus Mono display";
  font-weight: 700;
  margin: 30px;
}
.NH p {
  font-family: "Libertinus Mono display";
  font-size: 17px;
  color: black;
  font-weight: 400;
  margin: 20px 10px;
}
.NH .CafeteríaI {
  height: 40vh;
  width: auto;
  margin: 20px;
  border-radius: 10px;
}

@media (max-width: 430px) {
  .NH {
    flex-direction: column;
    gap: 15px;
  }
}
.reservas {
  padding: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.reservas h2 {
  font-size: 20px;
  color: brown;
  font-family: "Libertinus Mono display";
  font-weight: 700;
  padding: 20px;
  gap: 20px;
}
.reservas .reserva-form {
  display: grid;
  grid-template-areas: "na . name name " "em . email email" "ph . phone phone" "dt . date date " "hr . hour hour" "pp . people people" ". reservar cdn .";
  gap: 10px;
  height: 200px;
}
.reservas .reserva-form label {
  grid-area: label;
}
.reservas .reserva-form input {
  grid-area: label;
  width: 20vw;
}
.reservas .reserva-form .na {
  grid-area: na;
}
.reservas .reserva-form .name {
  grid-area: name;
}
.reservas .reserva-form .em {
  grid-area: em;
}
.reservas .reserva-form .email {
  grid-area: email;
}
.reservas .reserva-form .ph {
  grid-area: ph;
}
.reservas .reserva-form .phone {
  grid-area: phone;
}
.reservas .reserva-form .dt {
  grid-area: dt;
}
.reservas .reserva-form .date {
  grid-area: date;
}
.reservas .reserva-form .hr {
  grid-area: hr;
}
.reservas .reserva-form .hour {
  grid-area: hour;
}
.reservas .reserva-form .pp {
  grid-area: pp;
}
.reservas .reserva-form .people {
  grid-area: people;
}
.reservas .reserva-form .reservar {
  grid-area: reservar;
}
.reservas .reserva-form .cdn {
  grid-area: cdn;
}
.reservas iframe {
  height: 60vh;
  width: 60vh;
}

@media (max-width: 430px) {
  .reservas {
    flex-direction: column;
  }
  .reservas form {
    grid-template-areas: "na" "name" "ag" "age" "em" "email" "comme" "comment" "enviar" "reset";
  }
  h2 {
    font-size: 20px;
    color: brown;
    font-family: "Libertinus Mono display";
    font-weight: 700;
    margin: 20px 20px 40px 20px;
  }
}
@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 2;
  }
}
.Galería img:hover {
  animation: scale 2s forwards ease-in-out;
}

@keyframes LogoWhatsapp {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(15px);
  }
  40% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(0);
  }
}
footer .LogoWhatsapp {
  animation: LogoWhatsapp 2s infinite ease-in-out;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: brown;
  font-family: "Libertinus Mono display";
  font-weight: 400;
}
footer .LogoWhatsapp {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  width: auto;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
footer .LogoFacebook {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  width: auto;
}
footer .LogoInstagram {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  width: auto;
}
footer .LogoX {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: auto;
}
footer h2 {
  font-size: 20px;
}
footer .nav {
  display: flex;
  list-style: none;
}

@media (max-width: 430px) {
  footer {
    flex-direction: column;
    gap: 15px;
  }
  .LogoFacebook .LogoInstagram .LogoWhatsapp .LogoX {
    height: 7vh;
  }
  .nav {
    gap: 10px;
  }
  ul {
    gap: 20px;
  }
}
.Galería {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "Ext Int Ft" " PT IOc . ";
  gap: 10px;
  justify-items: center;
  align-items: center;
}
.Galería img {
  height: 30vh;
  width: auto;
  margin: 10px;
  border-radius: 10px;
}
@media (max-width: 430px) {
  .Galería {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
